

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Sertão Nerd</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
	<meta http-equiv="content-type" content="text/html; charset-UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>	
	<meta http-equiv="robots" content="index, follow"/>
	<meta name="googlebot" content="index, follow" />
	<meta http-equiv="Cache-control" content="public"/>
	<meta name="revisit-after" content="0 days"/>   
	<meta name="rating" content="general"/>
	<meta name="copyright" content="Sertão Nerd"/>
	<meta name="author" content="@arthurmenezesss"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>


<% if( PRODUCT  &&  CATEGORY == undefined  &&  REFERENCE == undefined ) { %>





    <form id="filterForm" method="post" style="display:flex;">
        <select>
            <option value="">padrão</option>
            <option value="value DESC">maior preço</option>
            <option value="value ASC">menor preço</option>
            <option value="name ASC">A_Z</option>
            <option value="name DESC">Z_A</option>
        </select>
    </form> 
    
   

    <% for( let i = 0; i < RESULT['rows'].length; i++ ) { %>   
    
    <div class="id"><%= RESULT['rows'][i]['id'] %></div>        

    <div class="reference"><%= RESULT['rows'][i]['reference'] %></div>

    <div class="product"><%= RESULT['rows'][i]['product'] %></div>

    <div class="category"><%= RESULT['rows'][i]['category'] %></div>

    <div class="value"><%= RESULT['rows'][i]['value'] %></div>

    <div class="name"><%= RESULT['rows'][i]['name'] %></div>

    <a class="link" style="display:flex; justify-content:center; align-items:center; width:120px; height:40px; color:white; text-decoration:none; background-color:darkslateblue; border-radius:6px;" href="<%= RESULT['rows'][i]['link'] %>">COMPRAR</a>

    <hr>

    <% } %>


    <form id="paginationForm" method="post" style="display:flex;">

    <% for( let i = 0; i < PAGES; i++ ) { %>
        <button style="display:flex; flex-direction:row; justify-content:center; align-items:center; width:40px; height:40px; color:white; font-size:22px;; background-color:black;" type="button">
            <%= i + 1 %>
            <input disabled type="hidden" value="<%= i + 1 %>" name="INPUT"/>
        </button>
    <% } %>
    </form>





<% } else if( PRODUCT  &&  CATEGORY  &&  REFERENCE == undefined ) { %>





    <% for( let i = 0; i < RESULT['rows'].length; i++ ) { %>   
    
    <div class="id"><%= RESULT['rows'][i]['id'] %></div>        
    
    <div class="reference"><%= RESULT['rows'][i]['reference'] %></div>
    
    <div class="product"><%= RESULT['rows'][i]['product'] %></div>
    
    <div class="category"><%= RESULT['rows'][i]['category'] %></div>

    <div class="value"><%= RESULT['rows'][i]['value'] %></div>
    
    <div class="name"><%= RESULT['rows'][i]['name'] %></div>
    
    <hr>
    
    <% } %>
    
    
    <form method="post" style="display:flex;" id="paginationForm">
    
        <% for( let i = 0; i < PAGES; i++ ) { %>
            <button style="display:flex; flex-direction:row; justify-content:center; align-items:center; width:40px; height:40px; color:white; font-size:22px;; background-color:black;" type="button">
                <%= i + 1 %>
                <input disabled type="hidden" value="<%= i + 1 %>" name="INPUT"/>
            </button>
        <% } %>
    </form>    





<% } else if( PRODUCT  &&  CATEGORY  &&  REFERENCE ) { %>


    <% if( SESSION != undefined ) { %> 

    <div id="message"></div>   
        
    <form id="messageForm" method="POST">
        <input type="text" placeholder="stars" name="STARS" required/>
        <input type="text" placeholder="message" name="COMMENT" required/>
        <button id="commentButton" type="button">ENVIAR</button> 
    </form>

    <% } %> 

<% } %>
















<% if( SESSION != undefined ) { %> 
<script>
try
{

    let 
        form = document.getElementById( 'messageForm' ).setAttribute( 'action', window.location.href ) 
        button = document.getElementById( 'commentButton' ).addEventListener( 'click', setComment ) 


    function setComment()
    {
        let
            ajax = new XMLHttpRequest(),
            body = 
                '&productId='  + '<%= RESULT["rows"][0]["id"] %>' + 
                '&userId='     + '<%= SESSION.id %>' + 
                '&stars='      + document.querySelector('input[name="STARS"]').value + 
                '&comment='    + document.querySelector('input[name="COMMENT"]').value
            console.log(body)

        ajax.open( 'POST', window.location.href )
        ajax.setRequestHeader( 'Content-type' ,'application/x-www-form-urlencoded' )
        ajax.onreadystatechange = function()
        {
            if(ajax.status === 200 && ajax.readyState === 4)
            {
                let RESULT = JSON.parse(ajax.response)
                document.getElementById('message').innerHTML = `${ RESULT.success ? '<div class="alert alert-success">' + RESULT.success + '</div>'  :  '<div class="alert alert-warning">' +RESULT.error + '</div>' }`  
            }
        }
        ajax.send(body)
    }

}      
catch(error) {}
</script>
<% } %> 

<script>
try{ 

    let 
        button = document.querySelectorAll( 'button[type="button"]' ),
        select = document.querySelector( 'select' )
    
    button[0].childNodes[1].setAttribute('thispage', 'true')
    document.getElementById( 'paginationForm' ).addEventListener( 'click', pagination )


    button.forEach( async ( Button ) => 
    { 
       for( let i = 0; i < button.length; i++ ) 
        { 
            Button.addEventListener( 'click', () => 
            { 
                if( Button.childNodes[1].value == event.target.childNodes[1].value ) 
                { 
                    Button.childNodes[1].setAttribute('applied', 'true')
                    Button.childNodes[1].setAttribute('thispage', 'true')
                    setTimeout( function() { Button.childNodes[1].removeAttribute('applied', 'true') }, 2000)
                }   

                button.forEach( async (Button) =>
                {
                    if(Button.childNodes[1].value != event.target.childNodes[1].value)
                    {
                        Button.childNodes[1].removeAttribute( 'thispage', 'true' )
} } ) } ) } } )


    select.addEventListener( 'change', () => 
    {
        for( let i = 0; i < select.children.length; i++ ) 
        { 
            if( event.target.value == select.children[i].value )
            {
                select.children[i].setAttribute('applied', 'true')
                select.children[i].setAttribute('thisfilter', 'true')
                setTimeout( function() { select.children[i].removeAttribute('applied', 'true') }, 2000)
                pagination()
            }
            else
            {
                select.children[i].removeAttribute('thisfilter', 'true')
            } 
} } )
    
    
    function pagination()
    {
    
        let 
            ajax = new XMLHttpRequest(),
            page = document.querySelector('input[applied="true"]')  ?  document.querySelector('input[applied="true"]').value  :  document.querySelector('input[thispage="true"]').value,
            filter = document.querySelector('option[applied="true"]')  ?  document.querySelector('option[applied="true"]').value  :  document.querySelector('option[thisfilter="true"]') ?  document.querySelector('option[thisfilter="true"]').value  :  ''
            body = 
                'PRODUCT='     + '<%= PRODUCT %>'   + 
                '&CATEGORY='   + '<%= CATEGORY %>'  + 
                '&REFERENCE='  + '<%= REFERENCE %>' + 
                '&PAGE='       + page + 
                '&FILTER='     + filter
            console.log(body)
        
        ajax.open( 'POST', window.location.href )
        ajax.setRequestHeader( 'Content-type' ,'application/x-www-form-urlencoded' )
        ajax.onreadystatechange = function()
        {
            if(ajax.status === 200 && ajax.readyState === 4)
            { 
                let 
                    RESULT = JSON.parse(ajax.response), 
                    OPTIONS = [ 'id', 'reference', 'product', 'category', 'value', 'name' ]
                
                showProducts( RESULT, OPTIONS )
                
                if(RESULT['rows'].length < 3)  
                    hideProducts( RESULT, OPTIONS )
            }
        }
        event.preventDefault()
        ajax.send(body)
    }

    function showProducts( RESULT, OPTIONS )
    {
        for( let i = 0; i < RESULT['rows'].length; i++ )
        {
            for( let I = 0; I < OPTIONS.length; I++ )
            {
                document.getElementsByClassName( OPTIONS[I] )[i].innerHTML = `${RESULT['rows'][i][ OPTIONS[I] ]}`
                
                if( I == 5)
                    { document.getElementsByClassName('link')[i].attributes[2].value = `${RESULT['rows'][i]['link']}` }
            }
        }
    }

    function hideProducts( RESULT, OPTIONS )
    {
        for( let i = RESULT['rows'].length, I = 2; I >= i; I-- )
        {
            OPTIONS.forEach( (OPTIONS) => { document.getElementsByClassName( OPTIONS )[I].innerHTML = '' } ) 
        }
    }

}
catch (error) {}

</script>
    

